elsarticle/*.*
figures.zip
sourcefiles.zip
matches/Thumbs.db
retrisk.aux
retrisk.bbl
retrisk.blg
retrisk.log
retrisk.pdf
retrisk.synctex.gz
abstract.aux
abstract.out
abstract.log
abstract.pdf
abstract.synctex.gz
paper.zip
paper1.zip